---
import '../styles/global.css';
---

<head>
    <style>
        <body class="bg-teal-50 text-slate-900">
    </style>
    <title>
        Contact
    </title>
</head>

<h1 class="text-4xl font-bold p-8">
    Contact Us
</h1>

<form class="max-w-xl mx-auto p-8 space-y-4">

    <input
        class="w-full border p-3 rounded"
        placeholder="Name"
    />

    <input
        class="w-full border p-3 rounded"
        placeholder="Email"

    />

    <textarea
        class="w-full border p-3 rounded"
        rows="6"
        placeholder="How can we help?"
    ></textarea>

    <button
        class="bg-blue-700 text-white px-6 py-3 rounded"
    >
        Send
    </button>

</form>