---
const { frontTitle, backContent, href } = Astro.props;
---

<a href={href} class="block">
    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                {frontTitle}
            </div>

            <div class="flip-card-back">
                {backContent}
            </div>

        </div>
    </div>
</a>